/*Global style*/
*{
    box-sizing:border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height:1.5;
    margin:0;
    padding:0;
    background: linear-gradient(90deg,#87e9d5,#dff7f3,#e6f5f4);
}
/*Header*/
#header-id{
    background:#333;
    color:#f0f0f0;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 6fr 2fr;

}
#header-id .header-box{
    padding:0 1em;
}
.orange-highlight{
    background:#ff7260;
}
.lightblue-highlight{
    background:#9bd7d5;    
}
.aqua-highlight{
    background:#129793;
}
.black-highlight{
    background:#505050;
}
.branding {
    padding:0 1em;
    align-self:center;
}

.branding .bg-highlight{
    background:#1abc9c;
    color:#f0f0f0;
    font-size:1.3em;
    padding:5px;
    border-radius:5px;
}
.branding .web-name{
    width:40%;
    float:left;
}
.branding .web-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:50%;
    float:left;
    margin-top:2.2em;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    font-size:1.2em;
    border-bottom:5px solid #ff7260;
}
.menu{
    align-self:center;
}
.menu a{
    color:#f0f0f0;
    text-decoration:none;
    font-size:1.2em;
    padding:0 1em;
    transition:0.4s ease-in-out;
}
.menu a:hover{
    background:#f8f1ce;
    border-radius:5px;
    padding:10px 1em;
    color:#505050;
}
/*Main area*/
#main-id{
    display:flex;
    justify-content:center;
}
/*calculator*/
#calcu-zone{
    padding:5em 0;
}
.calcu{
    background:#f8f1ce;
    padding:1em;
    border-radius:10px;
    box-shadow:4px 5px 2px #333;
}
/*keyboard zone*/
#screen{
    margin-bottom:5px;
}
#screen input[type="text"]{
    width:100%;
    border:none;
    outline:none;
    padding:15px 6px;
    background:#fff;
    font-size:1.4em;
    border-radius:10px;
}
.btn{
    width:65px;
    height:65px;
    outline:none;
    border:none;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
}

#keyboard .stretch{
    height:130px;
}
#keyboard .btn:active{
    background:#eaeaea;
}
/*Footer*/
#footer-id{
    background:#505050;
    color:#f0f0f0;
    text-align:center;
    padding:1em;
}
#footer-id a{
    text-decoration:none;
    color:#f0f0f0;
    font-weight:bold;
    margin:0 8px;
    transition:0.4s ease-in-out;
}
#footer-id a:hover{
    background:#f8f1ce;
    color:#333;
    border-radius:5px;
    padding:5px;
}
